---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---
<BaseLayout>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Developer
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Computer Engineering"
      subtitle="2014 to 2018 at Kasetsart University, Bangkok, Thailand"
      desc="Senior project Evaluating FPGA Bitcoin Mining"
    />
    <TimeLineElement
      title="Research Student"
      subtitle="2017 at Hayashi Laboratory, Kyushu Institute of Technology, Fukuoka, Japan"
      desc="My research project is the Koishi project(measuring device controller program through the internet). My responsibility is develop program to control measuring device and telescope motor(C#)"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Developer at Contactless Team"
      subtitle="From 2018 at KBTG, Thailand"
      desc="Develop face verification and identification API. Develop OCR Thai ID card, Thai vehicle license plate, Vietnam ID card API. Technologies: Python, FastAPI, Tensorflow Serving"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Thai (Native)</li>
    <li>English</li>
    <li>Python</li>
    <li>FastAPI</li>
    <li>Tensorflow</li>
    <li>Pytorch</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Openshift</li>
    <li>Git</li>
    <li>Jira</li>
  </ul>
</BaseLayout>
