---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-5xl font-bold">I'm Chawin</div>
      <div class="text-3xl py-3 font-bold">Software Engineer</div>
      <div class="py-2">
        <text class="text-lg">
          I'm working on Face API in Contactless team at KBTG for a year. Maintain and develop Face API to serve internal and external. Corroborate with Data scientist to improve performance.
        </text>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My Works {"</>"}</div>
    </div>

    <HorizontalCard
      title="Evaluating FPGA Bitcoin Mining"
      img="/post_img.webp"
      desc="Fourth year senior project"
      url="https://ecourse.cpe.ku.ac.th/projar/project/details/1263/"
    />
</BaseLayout>
